[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = leetcode????
[access "refs/*"]
	owner = group user/motilyfor
	read = group motilyfor
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/motilyfor
	label-Verified = -1..+1 group user/motilyfor
	push = group user/motilyfor
	read = group user/motilyfor
	rebase = group user/motilyfor
	removeReviewer = group user/motilyfor
	submit = group user/motilyfor
[access "refs/heads/*"]
	create = group user/motilyfor
	push = +force group user/motilyfor
	pushMerge = group user/motilyfor
	read = group user/motilyfor
[access "refs/tags/*"]
	push = group user/motilyfor
	push = +force group user/motilyfor
